<!-- raiz/templates/raiz/contacto.html -->
{% extends 'raiz/base.html' %}
{% load static %}

{% block title %}Contacto{% endblock %}

{% block content %}
<!-- Cargar el archivo CSS específico para el formulario de contacto -->
<link rel="stylesheet" href="{% static 'usuario/css/estilo_login.css' %}">

<div class="container col-xl-10 col-xxl-8 px-4 py-5">
  <div class="row align-items-center g-lg-5 py-5">
    <div class="col-lg-7 text-center text-lg-start">
      <!-- Título y descripción del formulario de contacto -->
      <h1 class="display-4 fw-bold lh-1 text-body-emphasis mb-3">Vertically centered hero sign-up form</h1>
      <p class="col-lg-10 fs-4">Below is an example form built entirely with Bootstrap’s form controls. Each required form group has a validation state that can be triggered by attempting to submit the form without completing it.</p>
    </div>
    
    <div class="col-md-10 mx-auto col-lg-5">
      
      <!-- Mostrar mensaje de agradecimiento si el formulario es válido -->
      {% if "valido" in request.GET %}
      <h1><strong>Gracias por contactarnos</strong></h1>
      {% endif %}

      <!-- Formulario de contacto -->
      <form action="{% url 'nsraiz:contacto' %}" method="post" class="p-4 p-md-5 border rounded-3 bg-body-tertiary">
        {% csrf_token %}
        {{ form.as_table }}
        <button class="w-100 btn btn-lg btn-primary" type="submit">Enviar</button>
      </form>
    
    </div>
  </div>
</div>
{% endblock %}